<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333848556595-nniqf7uigsnajml9cesd1462cjkc25qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333848556595-nniqf7uigsnajml9cesd1462cjkc25qh</string>
	<key>API_KEY</key>
	<string>AIzaSyBYNleET2AuqlAZ6ulSEmCKDm_ubLs73fk</string>
	<key>GCM_SENDER_ID</key>
	<string>333848556595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emerson.proyectosFlutter</string>
	<key>PROJECT_ID</key>
	<string>delivery-app-hazuki</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-app-hazuki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333848556595:ios:0fe0015626494d1ffb9f46</string>
</dict>
</plist>